body {
    font-family: "Outfit", sans-serif;
    overflow-x: hidden;
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    border-radius: 15px;
}

h1, h2 {
    font-family: "Young Serif", serif;
    font-weight: 300;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 28px;
    color: rgb(134, 67, 19);
}

p {
    font-size: 18px;
    font-weight: 300;
}

li {
    margin-top: 1rem;
}

hr {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.container {
    background-color: #FAF9F6;
    width: 70dvh;
    padding: 2.5rem;
    border-radius: 25px;
}

.prep-time {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: rgb(248, 238, 243);
    border-radius: 15px;
    padding:  .8rem 1rem;
}

.container > div > span {
    color: rgb(129, 23, 81);
    font-weight: 600;
    font-size: 20px;
}

.container > div > ul {
    color: rgb(129, 23, 81);
}

.container > div > ul > li > span {
    color: rgb(95, 95, 95);
    margin-left: 1rem;
    font-weight: 400;
}

.container > ul, ol {
    color: rgb(134, 67, 19);
}

.container > ul > li > span, ol > li > span {
    color: rgb(95, 95, 95);
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid rgb(95, 95, 95);;
    margin-top: 1.5rem;
}

tr:last-child {
    border: none;
}

td {
    padding: 1rem;
}

td > b {
    color: rgb(134, 67, 19);
}

@media screen and (max-width: 600px) {
    section {
        padding: 0;
    }

    .container {
        border-radius: 0;
        padding: 0;
    }

    .contents {
        padding: 0 1.5rem;
    }

    img {
        border-radius: 0;
        width: 100%;
    }
}



